<div class="catalog-category_container" >
{%for block in section.blocks %}
    
		<div class ="card-category_container">
          	<div class= "card-action_category_container">
              <h2 class ="catalog-category_title" >{{block.settings.heading}}</h2>
              <img class ="catalog-category_img" src="{{block.settings.image-title | img_url:'master'}}"/>
              <div class = "catalog-category_img_main_hover">
              	<a class ="catalog-category_img-link" href="{{block.settings.link-1}}"><img class ="catalog-category_img_main" src="{{block.settings.image-catalog | img_url:'master'}}"/></a>
          		</div>
              </div>
         
      	</div>
   
{%endfor%}
 </div>


{% style %}




.catalog-category_container {
	width : 100%;
    heigth : 275px;
    display : flex;      
	flex-direction: row;
	justify-content : center;
	gap: 2%;
	z-index:100;
	position : relative;
	transition: 0.4s all;
                                                                                                            
}


.card-category_container{
	width : 27%;
	heigth : 95%;
	display: flex;
	flex-direction: column;
	align-item: center;
	text-align : center;
	z-index:100;
	transition : 0.4s 0.2s  all;
}


.catalog-category_img-link{
	width : 100%;
	heigth : 100%;
	
}
.catalog-category_title{
	font-size: 24px;
	transition : 0.6s all;
	
}
.catalog-category_img{
	width: 50%;
	heigth: auto;
	
}
.catalog-category_img_main{
	width : 100%;
	heigth: auto;
	z-index:101;
	transition : 0.6s all;
}

.card-category_container:hover {

	gap : 0px;
	margin-top : 10px;
	order:0;
}





.catalog-category_img_main_hover{
	width: 100%;
	heigth: 100%;
	opacity:0.83;
	z-index: 1020;
	transition : 0.4s all;

}
.catalog-category_img_main_hover:hover {
	opacity:1;
	
}
@media only screen and (max-width: 900px) {
  .catalog-category_container {
    flex-direction: column;
	align-items : center;
	heigth : 350px;
  }
	.card-category_container{
	width : 60%;
	heigth: auto;
	opacity : 1;
}
.catalog-category_img_main_hover{
	opacity : 1;
}
}


{% endstyle %}



{% schema %}
{
    "name": "category catalog",
    "class" : "section",
    "settings": [
        {
            "type":"text",
            "label":"title catalog",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"title catalog",
            "settings":[
                        {
                            "type":"text",
                            "label":"your image",
                            "id":"heading"
                        },
                        {
                            "type":"image_picker",
                            "label":"your image",
                            "id":"image-title"
                        },
                        {
                            "type":"image_picker",
                            "label":"your image",
                            "id":"image-catalog"
                        },
						{
                            "type": "url",
                            "id": "link-1",
                            "label": "Link URL 1"

                        }
                    ]
     } 
],
"presets" : [
                    {
                        "category":"image",
                        "name": "catalog category" 
                    }
                    ]

}
{% endschema %}
{% javascript %}
	window.onscroll = function() {scrollFunction()};
	console.log("ok");
function scrollFunction() {
  if (document.body.scrollTop > 1200 || document.documentElement.scrollTop > 1200) {
    document.querySelector(".catalog-category_container").style.opacity = "1";

  } else {
    document.querySelector(".catalog-category_container").style.opacity = "0";

  }
}
{% endjavascript %}