
  <div class="image-about_container">
  {%for block in section.blocks %}
		<div class="image-about_item" >
        	<h3 class ="title-with-image_title" >{{block.settings.heading}}</h3>
      		<img class ="title-with-image_img" src="{{block.settings.image-icon-footer | img_url:'master'}}"/>
       </div>
  {%endfor%}
  </div>
</div>




{% stylesheet %}


{% endstylesheet %}



{% schema %}
{
   "name":"custom-image-container",
   "class":"section",
   "settings":[
      {
         "type":"text",
         "label":"custom-image-container",
         "id":"heading"
      }
   ],
   "blocks":[
      {
         "type":"text",
         "name":"title catalog",
         "settings":[
            {
               "type":"image_picker",
               "label":"your image",
               "id":"image-title"
            }
         ]
      }
   ],
   "presets":[
      {
         "category":"image",
         "name":"custom-image-container"
      }
   ]
}
{% endschema %}



{% javascript %}
{% endjavascript %}
