
  


{%for block in section.blocks %}

	<div class="title-with-image_container" >
	<img class ="title-with-image_img" src="{{block.settings.image-icon-footer | img_url:'master'}}"/>
	<h2 class ="title-with-image_title" >{{block.settings.heading}}</h2>
 	</div>

{%endfor%}
  


{% style %}

.title-with-image_container {
text-align: center
}


{% endstyle %}

{% schema %}
	{
      "name": "custom-footer",
		"blocks":[
					{
						"type":"image",
						"name":"custom-footer",
						"settings":[
									{
                                     "type":"image_picker",
                                     "label":"your image",
                                     "id":"image-icon-footer"
                                    },
                                    {
                                     "type":"text",
                                     "label":"headline",
                                     "id":"heading"
                                    }
									]
					}
					],
        "presets" : [
                            {
                                "category":"image",
                                "name": "custom-footer" 
                            }
                            ]
}
{% endschema %}


