
  <div class="image-about_container">
  {%for block in section.blocks %}
		<div class="image-about_item" >
        	<h3 class ="titre-about_hover"  >{{block.settings.heading}}</h3>
      		<img class ="image-about_hover" src="{{block.settings.image-icon-footer | img_url:'master'}}"/>
       </div>
  {%endfor%}
  </div>





{% stylesheet %}
.image-about_container{
	width:100vw;
	height:1960px;
	display:flex;
	flex-direction: column;
	align-items:center;
	align-content: center;
	justify-content:flex-start;
	flex-wrap : wrap;
	gap:20px;
	opacity:0;
	transition : 0.4s 0.2s all;
}

.image-about_item{
	width:42%;
	height:auto;
	position: relative;

}
.titre-about_hover{
	width : 100%;
	height: 100%;
	display: flex;
	justify-content : center;
	align-items: center;
	background-color: rgba(27,27,27,0);
	position: absolute;
	top : 0;
	z-index : 1000;
	color:#fff;
	margin:0;
	opacity:0;
	font-size:20px;
	transition : 0.3s 0.2s all;
}
.image-about_hover{
	width : 100%;
	height: 100%;
	z-index: 500;
}
.titre-about_hover:hover{
	background-color: rgba(27,27,27,0.75);
	opacity:1;
}
@media only screen and (max-width: 900px) {
.image-about_container{
	height:1700px;
	
}

{% endstylesheet %}



{% schema %}
{
      "name": "custom-iac2",
		"class" : "section",
        "blocks":[
                    {
                        "type":"image",
                        "name":"custom-footer",
                        "settings":[
                                    {
                                     "type":"image_picker",
                                     "label":"your image",
                                     "id":"image-icon-footer"
                                    },
                                    {
                                     "type":"text",
                                     "label":"headline",
                                     "id":"heading"
                                    }
                                    ]
                    }
                    ],
        "presets" : [
                            {
                                "category":"image",
                                "name": "custom-iac2" 
                            }
                            ]
}
{% endschema %}

<script>
  window.onscroll = function() {scrollFunction3()};
	
function scrollFunction3() {
	if ((document.body.scrollTop > 1450 || document.documentElement.scrollTop > 1450) ) {
		document.querySelector('.image-about_container').style.opacity = 1;
		console.log("ok");
	}
	else{
		document.querySelector('.image-about_container').style.opacity = 0;
		console.log("no");
	}
}
</script>
{% javascript %}

{% endjavascript %}
