<div class="container-delivery_intel">
  {%for block in section.blocks %}
		<h2 class ="title-with-image_title" >{{block.settings.heading}}</h2>
    	<div class="title-with-image_container" >
      		<img class ="title-with-image_img" src="{{block.settings.image-icon-footer | img_url:'master'}}"/>
    	</div>
  {%endfor%}
</div>


{% style %}

.container-delivery_intel{
	width : 100%;
	height : 185px;
	display : flex;
	flex-direction:row;
	justify-content: center;
	align-items: center
	margin-top:100px;
}

.title-with-image_container {

	
}

.title-with-image_title{

}

.title-with-image_img{
	
	
}

{% endstyle %}

{% schema %}
    {
      "name": "custom-footer",
		"class" : "section",
        "blocks":[
                    {
                        "type":"image",
                        "name":"custom-footer",
                        "settings":[
                                    {
                                     "type":"image_picker",
                                     "label":"your image",
                                     "id":"image-icon-footer"
                                    },
                                    {
                                     "type":"text",
                                     "label":"headline",
                                     "id":"heading"
                                    }
                                    ]
                    }
                    ],
        "presets" : [
                            {
                                "category":"image",
                                "name": "custom-footer" 
                            }
                            ]
}
{% endschema %}