<div class="footer-title_container" >

    <h2 class ="footer-title_title" >{{section.settings.heading}}</h2>

    <img class ="footer-title_img" src="{{section.settings.image | img_url:'master'}}"/>
	

</div>

{% style %}

.footer-title_container {
    text-align: center;
    width: 100vw;
    height :100px;
    display:flex;
    justify-content: center;
	background-color: rgb(33,33,33);
	margin-top: 50px;
}
.footer-title_img{
    width : auto;
	height: 40%;
	margin-block: auto;
}


{% endstyle %}

{% schema %}
   {
   "name":"footer-title",
   "settings":[
      {
         "type":"image_picker",
         "label":"your image",
         "id":"image"
      }
   ],
   "presets":[
      {
         "category":"image",
         "name":"footer-title"
      }
   ]
}
{% endschema %}