<div class="homepage-review_container" >
  
  {%for block in section.blocks %}
  
  {% assign sens = "right" %}
  
{% case sens %}
  {% when "right" %}
     <div class="homepage-review_card-container right-card">
       {% assign sens = "left" %}
  {% when "left" %}
     <div class="homepage-review_card-container left-card">
       {% assign sens = "right" %}
{% endcase %}
       
	<h2 class ="homepage-review_title" >{{block.settings.heading}}</h2>
  	<p class = "homepage-review_author">{{block.settings.author}}</p>
	<p class ="homepage-review_star"> {{block.settings.stars-icon}}</p>
	<img class ="homepage-review_img" src="{{block.settings.image | img_url:'master'}}"/>
	</div>
  {%endfor%}
</div>

{% style %}

.homepage-review_card-container right-card {
text-align: center;
       color: red;
}

{% endstyle %}

{% schema %}
  {
  "name": "text icon",
"class" : "section",
"settings": [
  {
      "type":"text",
      "label":"text icon",
      "id":"heading"
  }
],
  "blocks": [
      {
        "type":"image",
        "name": "homepage review",
        "settings": [
                        {
                        "type":"text",
                        "label":"headline",
                        "id":"heading"
                        },
                        {
                        "type":"richtext",
                        "label":"headline",
                        "id":"author"
                        },
                        {
                        "type":"text",
                        "label":"nombre étoile",
                        "id":"stars-icon"
                        },
                        {
                        "type":"image_picker",
                        "label":"your image",
                        "id":"image"
                        }
  					]
  				}
                  ],

          "presets" : [
                      {
                          "category":"image",
                          "name": "homepage review" 
                      }
                      ]

	
  }
{% endschema %}


