<div class="homepage-review_container" >
  
  {%for block in section.blocks %}
   <div class="homepage-review_card-container">  
	<p class ="homepage-review_title" >{{block.settings.heading}}</p>
  	<p class = "homepage-review_author">{{block.settings.author}}</p>
	<p class ="homepage-review_img" src="{{block.settings.stars-icon | img_url:'master'}}"/>
	<img class ="homepage-review_img" src="{{block.settings.image | img_url:'master'}}"/>
	</div>
  {%endfor%}
</div>

{% style %}

.homepage-review_container {
	width : 100%;
	height : auto; 
	display: flex;
	flex-direction:column;
}
.homepage-review_container:nth-child(2n){
	
	align-self : left;
}
.homepage-review_container:nth-child(2n){
	
	align-self : right;
}
.homepage-review_card-container{
	width : 70%;
	height:auto;
	display:flex;
	flex-direction:column;
	align-items: center;
}

{% endstyle %}

{% schema %}
  {
  "name": "text icon",
"class" : "section",
"settings": [
  {
      "type":"text",
      "label":"text icon",
      "id":"heading"
  }
],
  "blocks": [
      {
        "type":"image",
        "name": "homepage review",
        "settings": [
                        {
                        "type":"text",
                        "label":"headline",
                        "id":"heading"
                        },
                        {
                        "type":"richtext",
                        "label":"headline",
                        "id":"author"
                        },
                        {
                        "type":"image_picker",
                        "label":"your image",
                        "id":"stars-icon"
                        },
                        {
                        "type":"image_picker",
                        "label":"your image",
                        "id":"image"
                        }
  					]
  				}
                  ],

          "presets" : [
                      {
                          "category":"image",
                          "name": "homepage review" 
                      }
                      ]

	
  }
{% endschema %}


