<div class="text-icon-social_container" >

<h2 class ="text-icon-social_title" >{{section.settings.heading}}</h2>
  
{%for block in section.blocks %}
<a href="{{block.settings.link-1}}">
<img class ="text-icon-social_img" src="{{block.settings.image-icon | img_url:'master'}}"/>
</a>
{%endfor%}

</div>

{% style %}

.text-icon-social_container {
	text-align: center;
	display: flex;
	justify-content:center;
    align-items: center;
    gap: 5%;
}

.text-icon-social_container {
background-color: rgb(33,33,33);
}

.text-icon-social_title {
color:#fff;
}
.text-icon-social_img{
	width:10%;
	height:auto;
}
{% endstyle %}



{% schema %}
{
"name": "text icon socials",
"class" : "section",
"settings": [
  {
      "type":"text",
      "label":"text icon",
      "id":"heading"
  }
],
"blocks": [
  {
      "type":"image",
      "name":"image icon",
      "settings":[
                  {
                      "type":"image_picker",
                      "label":"your image",
                      "id":"image-icon"
                  },
					{
                      "type": "url",
                      "id": "link-1",
                      "label": "Link URL 1"

					}
              ]
} 
],
"presets" : [
					{
						"category":"image",
						"name": "text with icons socials" 
					}
					]

}                 
{% endschema %}