<div class="title-with-paragraph_container" > 
	<p class ="title-with-paragraph_text" >{{section.settings.heading}}</p>
  	<p class = "title-with-paragraph_pargraph">{{section.settings.paragraph}}</p>
</div>

{% style %}
.title-with-paragraph_container {
		padding:100px;
		background-color:light-grey;
}

{% endstyle %}

{% schema %}
  {
  "name": "title with paragraph",
"class" : "section",
        "settings": [
                        {
                        "type":"text",
                        "label":"headline",
                        "id":"heading"
                        },
                        {
                        "type":"richtext",
                        "label":"texte",
                        "id":"paragraph"
                        }
  					]
  				
                  ,

          "presets" : [
                      {
                          "category":"image",
                          "name": "title-with-paragraph" 
                      }
                      ]

	
  }
{% endschema %}


