<div class="title-with-image_container" >
  
<h2 class ="title-with-image_title" >{{section.settings.heading}}</h2>

{%for block in section.blocks %}

	<img class ="title-with-image_img" src="{{block.settings.image | img_url:'master'}}"/>

{%endfor%}
  
</div>

{% style %}

.title-with-image_container {
	width : 100%;
	height : auto;
	display : flex;
	justify-content : center;

}

.title-with-image_title{
	font-size : 24px;
}
.title-with-image_img{
	width:10%;
	height:auto;
}

{% endstyle %}

{% schema %}
	{
      "name": "title with image",
      "settings": [
                      {
                        "type":"text",
                        "label":"headline",
                        "id":"heading"
                      }
                  ],
		"blocks":[
					{
						"type":"image",
						"name":"image block",
						"settings":[
									{
										"type":"image_picker",
										"label":"your image",
										"id":"image"
									}
								]
					}
					],
		"presets" : [
					{
						"category":"image",
						"name": "title with image" 
					}
					]

	}
{% endschema %}
