<h2 class ="title-with-image_title" >{{section.settings.heading}}</h2>
<p class ="title-with-image_text">{{section.settings.description}}</p>

{%for block in section.blocks %}

	<img class ="title-with-image_img" src="{{block.settings.image | img_url:'master'}}"/>

{%endfor%}

{% style %}
.title-with-image_title{
text-align : center;
}
{% endstyle %}

{% schema %}
	{
      "name": "image with text above",
      "settings": [
                      {
                        "type":"text",
                        "label":"headline",
                        "id":"heading"
                      },
                      {
                        "type":"richtext",
                        "label":"your description",
                        "id":"description"
                      }
                  ],
		"blocks":[
					{
						"type":"image",
						"name":"image block",
						"settings":[
									{
										"type":"image_picker",
										"label":"your image",
										"id":"image"
									}
								]
					}
					],
		"presets" : [
					{
						"category":"image",
						"name": "image with text above" 
					}
					]

	}
{% endschema %}
