
<div class="zigouigoui_container" >

    <h2 class ="zigouigoui_title" >{{section.settings.heading}}</h2>
	<div class="zigouigoui_img_container" >
    	<img class ="zigouigoui_img" src="{{section.settings.image | img_url:'master'}}"/>
	</div>

</div>

{% style %}

.zigouigoui_container {
    display:flex;
	flex-direction:column;
    text-align:center;
	margin-top: 40px;
	margin-bottom:30px;
}

.zigouigoui_img{
    
}
.zigouigoui_title{
    font-size: 36px;
	padding-right:50px;
	text-align:center;
}


@media only screen and (max-width: 480px) {
.sword-title_title{
font-size: 24px;
}
}
{% endstyle %}

{% schema %}
    {
      "name": "zigouigoui-title",
      "settings": [
                      {
                      "type":"image_picker",
                      "label":"your image",
                      "id":"image"
                      },
                      {
                      "type":"text",
                      "label":"headline",
                      "id":"heading"
                      }
                ]    ,

        "presets" : [
                    {
                        "category":"image",
                        "name": "zigouigoui title" 
                    }
                    ]

    }
{% endschema %}
