
<div class="zigouigoui_container" >

    <h2 class ="zigouigoui_title" >{{section.settings.heading}}</h2>

    <img class ="zigouigoui_img" src="{{section.settings.image | img_url:'master'}}"/>
	

</div>

{% style %}

.zigouigoui_container {
    text-align: center;
    display:flex;
	flex-direction:column;
    justify-content: center;
	margin-top: 40px;
	margin-bottom:30px;
}
.zigouigoui_img{
    order : -1;
}
.zigouigoui_title{
    order : 2;
    font-size: 36px;
    font-weight : 500;
	padding-right:50px;
}


@media only screen and (max-width: 480px) {
.sword-title_title{
font-size: 24px;
}
}
{% endstyle %}

{% schema %}
    {
      "name": "zigouigoui-title",
      "settings": [
                      {
                      "type":"image_picker",
                      "label":"your image",
                      "id":"image"
                      },
                      {
                      "type":"text",
                      "label":"headline",
                      "id":"heading"
                      }
                ]    ,

        "presets" : [
                    {
                        "category":"image",
                        "name": "zigouigoui title" 
                    }
                    ]

    }
{% endschema %}
